* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	color: #fafafa;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

header {
	width: 100%;
	height: 70px;
	background-color: #ec715f;
}

nav {
	width: 1024px;
	margin: 0 auto;
}

.nav-logo {
	height: 70px;
}

.nav-list {
	float: right;


}

.nav-list-item {
	color: #fafafa;
	font-size: 16px;
	list-style: none;
	display: inline-block;
	margin: 0 30px;
	line-height: 70px;

}

.main-visual {
	width: 100%;
	height: 650px;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: bottom;
	text-align: center;
}

.m-v-h1 {
	font-size: 64px;
	color: #fafafa;
	padding-top: 200px;
	margin-bottom: 10px;
}

.m-v-p {
	font-size: 20px;
	color: #fafafa;
}

.portfolio {
	width: 100%;
	background-color: #eceff1;
}

.port-box {
	width: 920px;
	padding: 90px 0;
	margin: 0 auto;
}

.port-headline {
	text-align: center;
}

.headline-h2 {
	padding-bottom: 8px;
	font-size: 32px;
	color: #000;
	position: relative;
	display: inline-block;
}

.headline-h2:before {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0px;
	display: inline-block;
	width: 70px;
	height: 3px;
	-moz-transform: translateX(-50%);
  	-webkit-transform: translateX(-50%);
  	-ms-transform: translateX(-50%);
  	transform: translateX(-50%);
	background-color: #ec715f;
}

.headline-p {
	font-size: 16px;
	color: #000;
	padding: 30px 0;
}

.port-image-item {
	width: 300px;
	height: 250px;
	float: left;
	background-size: cover;
	background-position: center;
	margin: 0 10px 10px 0;
}

.port-image-item:nth-child(1) {
	background-image: url(img/sketch.jpg);
}

.port-image-item:nth-child(2) {
	background-image: url(img/websuku.png);
}

.port-image-item:nth-child(3) {
	background-image: url(img/write.jpg);
}

.port-image-item:nth-child(4) {
	background-image: url(img/webcamp.png);
}

.port-image-item:nth-child(5) {
	background-image: url(img/talk.jpg);
}

.port-image-item:nth-child(6) {
	background-image: url(img/webcamp-mother.png);
}

.port-image-item:nth-child(3n) {
	margin-right: 0;
}

.port-image-item:nth-child(n+4) {
	margin-bottom: 0;
}

.feature {
	width: 100%;
}

.fea-box {
	width: 980px;
	padding: 90px 0;
	margin: 0 auto;
}

.fea-headline {
	text-align: center;
}

.m-m-box {
	width: 320px;
	float: left;
	margin-right: 10px;

}

.cute {
	text-align: center;
}

.cute i {
	font-size: 60px;
	text-align: center;
	color: #000;
}

.fea-h3 {
	padding: 10px 0;
	font-size: 20px;
	color: #000;
}

.f-m-b-content {
	text-align: left;
}

 .fea-p {
 	font-size: 16px;
 	color: #000;
 }

.m-m-box:last-child {
	margin-right: 0;
}

.profile {
	width: 100%;
	background-color: #eceff1;
}

.pro-box {
	width: 1024px;
	padding: 90px 0;
	margin: 0 auto;
}

.pro-headline {
	text-align: center;
}

.pro-image {
	float: left;
	width: 512px;
	text-align: center;
}

.pro-image-icon {
	width: 250px;
	height: 250px;
	border-radius: 50%;
}

.pro-intro {
	float: left;
	width: 512px;
}

.pro-h3 {
	font-size: 20px;
	padding-bottom: 5px;
	color: #000;
}

.pro-p {
	font-size: 16px;
	color: #000;
	padding-bottom: 20px;
}

.pro-p:last-child {
	padding-bottom: 0;
}

.contact {
	width: 100%;
}

.con-box {
	width: 800px;
	padding: 90px 0;
	margin: 0 auto;
}

.con-headline {
	text-align: center;
}


.con-mail {
	width: 400px;
	float: left;
}

.con-mailbox {
	width: 35%;
	margin: 0 auto;
}

.con-h3 {
	font-size: 20px;
	padding-bottom: 5px;
	color: #000;
}

.con-p {
	color: #000;
	padding-bottom: 20px;
}

.con-p:last-child {
	padding-bottom: 0;
}

.con-sns {
	width: 400px;
	float: left;
}

.con-snsbox {
	width: 50%;
	margin:0 auto;
}

.con-snsbox i {
	font-size: 50px;
	padding-right: 20px;
	color: #000;
}

.con-snsbox i:last-child {
	padding-right: 0;
}

.u-line {
	color: #000;
	border-bottom: 1px solid #000;
}

footer {
	width: 100%;
	height: 60px;
	background-color: #ec715f;
	text-align: center;
	line-height: 60px;
}

.footer-text {
	font-size: 16px;
	color: #fafafa;
}

@media screen and (max-width: 767px) {
	header {
		width: 90%;
		height: 50px;
		margin-left: 5%;
		margin-right: 5%;
	}

	.main-visual {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		background-image: url(img/code.png);
	}

	nav {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.nav-logo {
		height: 50px;
	}

	.m-v-h1 {
		font-size: 40px;
	}

	.m-v-p {
		font-size: 18px;
	}

	.portfolio {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.port-box {
		width: 90%;
	}

	.port-image-item {
		float: none;
		margin: 0 auto;
		padding-bottom: 10px;
	}

	.port-image-item:nth-child(odd) {
		background-image: none;
		padding-bottom: 0px;
		width: 0;
		height: 0;
	}

	.port-image-item:nth-child(even) {
		padding-bottom: 0px;
		margin-bottom: 10px;
	}

	.port-image-item:first-child {
		margin-top: 0;
	}

	.port-image-item:nth-child(3n) {
		margin: 0 auto;
	}

	.feature {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.fea-box {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.fea-mini-box {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		margin: 0 auto;
	}

	.m-m-box {
		float: none;
		margin-right: 0px;
		margin: 0 auto;
		padding-bottom: 10px;
	}

	.m-m-box:last-child {
		margin: 0 auto;
		padding-bottom: 0px;
	}

	.profile {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.pro-box {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.pro-image {
		float: none;
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		text-align: center;
	}

	.pro-intro {
		float: none;
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		text-align: center;
	}

	.contact {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.con-box {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	footer {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		height: 60px;
	}

}
